    * { box-sizing: border-box; font-family: sans-serif; }

    body, html {
      background: #FFF;
      height: 100vh;
      padding: 0;
      margin: 0;
      overflow: hidden;
      display: initial;
    }

    label {
      z-index: 12;
    }

    .inner-card {
      position: relative;
      height: 100%;
      width: 100%;
    }

    .inner-card[data-hint].hint {
      cursor: pointer;
    }

    .inner-card[data-hint]:hover:before,
    .inner-card[data-hint]:hover:after
    .inner-card[data-hint]:before,
    .inner-card[data-hint]:after {
      opacity: 0;
    }
    
    .inner-card[data-hint].hint:hover:before,
    .inner-card[data-hint].hint:hover:after
    .inner-card[data-hint].hint:before,
    .inner-card[data-hint].hint:after {
      z-index: 20;
      opacity: 1;
    }
    
    .inner-card[data-hint].hint:before,
    .inner-card[data-hint].hint:after {
      left: 10px;
    }
    
    .mini {
      display: inline-block;
      position: absolute;
      height: 80px;
      width: 100px;
      opacity: .5;
      background-color: #FFF;
      cursor: pointer;
    }

    .mini[data-depth="0"], .mini[data-depth="1"] {
      cursor: default;
    }

    .mini::before {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        background: #999;
        color: #999;
        height: 15px;
        content: ' ';
    }

    .mini.source::before {
        background: #0F75FF;
    }

    #nav-view {
      overflow-y: hidden;
      overflow-x: auto;
      position: relative;
      white-space: nowrap;
      padding-top: 7px;
      padding-left: calc(50% - 100px);
      height: 100%;
    }

    #nav-container {
      height: 0px;
      transition: .5s ease-out;
      width: calc(100% - 100px);
      margin-left: 50px;
      background-color: #CCC;
      overflow: hidden;
    }

    #nav-container.nav-is-open {
      height: 100px;
      border: 1px solid #CCC;
      transition: .5s;
    }

    button {
      border-radius: 50%;
      font-weight: 700;
      width: 28px;
      height: 28px;
      border: none;
      cursor: pointer;
      background-color: deepskyblue;
      color: white;
    }

    label button {

    }

    button:focus {
      outline: 0;
    }

    button:hover {
      background: rgb(0,72,97);
    }

    #cards {
        position: relative;
        width: calc(100% - 100px);
        left: 50px;
        height: 100%;
    }

    button:active {
        opacity: .6;
    }

    .sidebar {
      width: 50px;
      position: fixed;
      display: inline-block;
      text-align: center;
      padding: 66px 0;
      top: -20px;
      height: 1000px;
      z-index: 10;
    }

    .sidebar.downstream {
      right: 0;
      box-shadow: -20px 0 25px white inset;
    }

    .sidebar.upstream {
      left: 0;
      box-shadow: 20px 0 25px white inset;
    }

    .container {
      padding-top: 40px;
      width: 100%;
      overflow-x: hidden;
    }

    .card {
      display: inline-block;
      position: absolute;
      opacity: 0.5;
      box-shadow: 0 5px 5px rgba(0,0,0,.15);
      background: repeating-linear-gradient(
        180deg,
        #eee,
        #eee 25px,
        #fff 25px,
        #fff 50px
      );
      width: 50%;
      height: 800px;
    }

    .card::before {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        background: #999;
        color: #999;
        height: 33px;
        content: ' ';
    }

    .card.source::before {
        background: #0F75FF;
        color: #0F75FF;
    }